footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer img {
    filter: invert(12%) sepia(6%) saturate(4911%) hue-rotate(197deg) brightness(87%) contrast(81%);
    opacity: 0.7;
    transition: 0.3s;
    margin: 0;
    width: 2rem;
}

footer img:hover {
    opacity: 1;
}

footer a {
    margin: 3rem 1rem;
}